# Visual Studio
.vs/
*.user
*.suo
*.userosscache
*.sln.docstates

# Build Results
[Bb]in/
[Oo]bj/
[Rr]elease/
[Dd]ebug/

# NuGet Packages
packages/
*.nupkg

# Resharper
_ReSharper*/
*.[Rr]e[Ss]harper
*.DotSettings.user

# Git generated
github_repo/
github_repo2/
github_repo3/

# Downloaded files
PortableGit.exe
PortableGit/
